.container{
    width: 75%;
    margin-bottom: 50px;
}
.footer{

    color: orange;
}
.carousel-item{
    padding: 20px 40px;
    
}
.card-footer{
    border-top: none;
    background-color: white;
}
.card{
  box-shadow: 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.card img{
    padding-top: 30px;
}
.container .underline {
    border-bottom: 6px solid orange;
    border-radius: 3px;
    margin-left: 450px;
    margin-right: 450px;
  }
  .vertically-center{
      display: flex;
      align-items: center;
      margin-right: 500px;
      
      margin-left: 100px;
  }
  .pale-order img{
    width: 500px;
    margin-left:150px;
    position: relative;
   
  }
  .bag img{
      border: 1px solid gray;
  }
 
